html {
    scroll-behavior: smooth;
}

body {
    background-color: burlywood;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: chocolate;
    border-bottom: 1px dotted chocolate;
}

p {
    font-size: 20px;
}

span, b, i, strong, em {
    font-weight: 700;
    background-color: moccasin;
}