body {
    background-color: darkgrey;
}

h2 {
    font-size: 15px;
    border-radius: 5px;
    border-width: 10px 5px 1px;
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-top-color: darkgreen;
    border-right-color: pink;
    border-bottom-color: springgreen;
    border-left-color: blueviolet;
    border-top-style: dotted;
    border-bottom-style: groove;
    padding: 20px;
    margin: 30px;
}

p {
    font-family: "Verdana";
}

